<div class="row">
  <div class="container">
    <div class="col-md-12">
      <h1>Channels</h1>
      <% @channels.each do |channel| %>
        <div class="panel panel-default">
          <div class="panel-heading"><%= channel.name %> | ID: <%= channel.id %></div>
          <div class="panel-body">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>SKU</th>
                  <th>Title</th>
                  <th>Price</th>
                </tr>
              </thead>
              <tbody>
                <% channel.orders.each do |order| %>
                  <% order.order_details.each_with_index do |order_detail, index| %>
                    <tr>
                      <th scope="row"><%= index %></th>
                      <td><%#= order_detail.sku %></td>
                      <td class="warning">Not available yet.<%#= order.title %></td>
                      <td><%= number_to_currency(order_detail.price) %></td>
                    </tr>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>