<div class="row">
  <div class="container">
    <div class="col-md-12">
      <h1>Channels</h1>
      <% @channels.each do |channel| %>
        <div class="panel panel-default">
          <div class="panel-heading"><%= channel.name %> | ID: <%= channel.id %></div>
          <div class="panel-body">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>SKU</th>
                  <th>Title</th>
                  <th>Price</th>
                </tr>
              </thead>
              <tbody>
                <% channel.orders.each_with_index do |order, index| %>
                  <tr>
                    <th scope="row"><%= index %></th>
                    <td class="warning">Not available yet.<%#= order.sku %></td>
                    <td class="warning">Not available yet.<%#= order.title %></td>
                    <td><%= number_to_currency(order.C009_TOTALPRICE) %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>